.ListNews5-left-image img {
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #e0e0e0;
}

.ListNews5-left-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.ListNews5-right-item-text a {
    font-weight: bold;
    /* font-family: "Open Sans", arial; */
    display: block;
    text-align: justify;
}

.ListNews5-right-item-image {
    width: 30%;
}

.ListNews5-right-item-text {
    width: 65%;
    margin-left: 2%;
}

.ListNews5-right-item-text a {
    text-decoration: none;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 5px;
}

.ListNews5-right-item-image img {
    display: block;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.ListNews5-right-item-text-des {
    font-size: 12px;
}

.ListNews5-right-item-inner {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted silver;
}

.ListNews5-left-text-des {
    font-size: 13px;
    text-align: justify;
}

.ListNews5-meta {
    color: #7d7d7d;
}

.ListNews5-meta a {
    color: #7d7d7d;
    text-decoration: none;
}

.ListNews5-meta-item{
    margin-right:20px;
}