#top-bar .core-block{padding:5px 0;}
#top-bar .block-content:after{content:"";display:block;clear:both;}
#top-bar ul{list-style:none;}
#top-bar ul li{float:left;}
#top-bar ul li a{color:#333;text-decoration:none;padding:0 15px 0 0;}
.header-wrap .block-search{float:right;}
.header-wrap .v-search-form{position:relative;}
.header-wrap .v-search-form input{float:left;padding:5px 10px;box-sizing:border-box;border:1px solid #eaeaea;width:240px;max-width:100%;border-color:#fff;position:  relative;/* top: 6px; */}
.header-wrap .v-search-form input:focus{outline:none;}
.header-wrap .v-search-form .submit{padding:5px 8px;border:1px solid #1a8fba;border-left:0;background-color:#1a8fba;color:#fff;width: 80px!important;height: 27px;}
.header-wrap #main-menu ul li{list-style:none;position:relative;}
.header-wrap #main-menu ul li a{text-decoration:none;}
.header-wrap #main-menu .block-content > ul > li{float:left;}
.header-wrap #main-menu ul ul{position:absolute;top:100%;left:0;z-index:9;width:300px;opacity:0;visibility:hidden;transition:all .35s linear;-webkit-transition:all .35s linear;-moz-transition:all .35s linear;-ms-transition:all .35s linear;-o-transition:all .35s linear;}
.header-wrap #main-menu ul ul li a{transition:all .35s linear;-webkit-transition:all .35s linear;-moz-transition:all .35s linear;-ms-transition:all .35s linear;-o-transition:all .35s linear;}
.header-wrap #main-menu ul ul ul{top:0;left:100%;}
.header-wrap #main-menu ul li:hover > ul{opacity:1;visibility:visible;}
#header-wrap-1 #top-bar{background:#055699;}
#header-wrap-1 #top-bar ul li{float:left;}
#header-wrap-1 #top-bar ul li a{color:#fff;text-decoration:none;padding:0 15px;}
#header-wrap-1 #top-bar .top-content-right .block-content p{color:#fff;position:relative;display:inline-block;padding:0 15px 0 25px;float:right;}
#header-wrap-1 #top-bar .top-content-right .block-content p:before{content:"\f095";font-family:FontAwesome;position:absolute;left:0;top:2px;display:inline-block;font-size:16px;}
#header-wrap-1 .block-search{float:right;}
#header-wrap-1 .v-search-form{position:relative;}
#header-wrap-1 .v-search-form input{float:left;padding:8px 11px;box-sizing:border-box;border:1px solid #eaeaea;width:230px;max-width:100%;}
#header-wrap-1 .v-search-form .submit{padding:8px 8px;border:1px solid #1a8fba;border-left:0;background-color:#1a8fba;color:#fff;}
#header-wrap-1 #header-inner{padding:10px 0;}
#header-wrap-1 #logo{margin-top:16px;}
#header-wrap-1 .header-banner img{width:100%;}
#header-wrap-1 .header-banner{padding-left:15px;}
#header-wrap-1 #header .v-search-form{margin-top:34px;}
#header-wrap-1 #navigation,
#header-wrap-1 #main-menu{background:rgb(26, 143, 186);}
#header-wrap-1 #main-menu .block-content ul li a{text-transform:uppercase;color:#fff;text-decoration:none;display:block;}
#header-wrap-1 #main-menu .block-content > ul > li > a{padding:20px;font-size:15px;}
#header-wrap-1 #main-menu ul ul{background:rgb(26, 143, 186);}
#header-wrap-1 #main-menu ul > ul > li > a{height:45px;line-height:45px;}
#header-wrap-1 #main-menu ul li:hover > a{background-color:#0C6B8E;}
#header-wrap-2 #top-bar{background:#f8f8f8;}
#header-wrap-2 #top-bar ul li a{font-size:12px;}
#header-wrap-2 #top-bar ul li:hover > a{color:#177DCC;}
#header-wrap-2 #main-menu .block-content > ul > li{float:none;display:inline-block;}
#header-wrap-2 #main-menu{text-align:right;}
#header-wrap-2 #main-menu .block-content > ul > li > a{text-decoration:none;padding:17px 15px;display:inline-block;}
#header-wrap-2 #main-menu ul ul li a{display:block;text-decoration:none;text-align:left;padding:5px 15px;}
#header-wrap-3{}
#header-wrap-3 #header-inner{height:70px;line-height:70px;padding:5px 0;}
#header-wrap-3 #header #logo{text-align:center;width:150px;height:75px;max-height:75px;}
#header-wrap-3 #main-menu.active{background:#fff;}
#header-wrap-3 #main-menu ul ul{background:#fff;}
#header-wrap-3 #main-menu .block-content > ul > li{display:inline-block;margin-right:-4px;margin:0 20px;float:none;}
#header-wrap-3 #main-menu .block-content > ul > li > a{font-size:14px;display:block;color:#001a4b;}
#header-wrap-3 #main-menu .menu-2{float:right;}
#header-wrap-4 #top-bar .core-block{padding:5px 0;}
#header-wrap-4 .v-search-form .submit{border:1px solid #a40d12;background-color:#b21117;}
#header-wrap-4 #header{border-bottom:2px solid #A40D12;background:#FFF;}
#header-wrap-4 #header.fixed{top:0;left:0;width:100px;z-index:10;}
#header-wrap-4 #main-menu{font-size:16px;font-family:"Roboto Condensed", arial;text-transform:uppercase;font-weight:bold;line-height:70px;height:70px;}
#header-wrap-4 #main-menu .block-content > ul > li > a{padding:0 25px;color:#A40D12;}
#header-wrap-4 #main-menu ul ul{border-top:2px solid rgba(245, 208, 69, 0.17)}
#header-wrap-4 #main-menu ul ul li{border-top:1px solid rgba(245, 208, 69, 0.17);line-height:30px;*/font-size:14px;color:#fff;float:none;}
#header-wrap-4 #main-menu ul ul li:hover > a{background:rgba(245, 208, 69, 0.17);}
#header-wrap-4 #main-menu ul ul li:first-child{border-top:0;}
#header-wrap-4 #main-menu ul li:hover > a{color:#fff;}
#header-wrap-4 #main-menu.active ul li a{color:#fff;}
#header-wrap-4 #header-hotline:hover{cursor:pointer;}
#header-wrap-4 #header-hotline .header-hotline-icon{color:#F5D045;font-size:40px;padding-right:8px;}
#header-wrap-4 #header-hotline .header-hotline-icon a{color:#F5D045;}
#header-wrap-4 #header-hotline .header-hotline-text .header-hotline-text-title{color:#F5D045;text-transform:uppercase;font-size:13px;font-weight:bold;margin-bottom:3px;}
#header-wrap-4 #header-hotline .header-hotline-text-number a{color:#B21117;text-decoration:none;font-size:20px;font-weight:bold;}
#header-wrap-5 #main-menu .block-content > ul > li{line-height:65px;}
#header-wrap-5 #main-menu ul ul li{line-height:24px;box-sizing:border-box;}
#header-wrap-5 #main-menu ul ul li a{padding:5px 15px;}
#header-wrap-5 #main-menu ul ul li:hover > a{}
#header-wrap-5 #main-menu ul ul ul{top:0;left:100%;}
@media screen and (max-width:991px){#header-wrap-3 #main-menu .menu-2{float:left;width:100%;}
}
.header-wrap .v-search-form input.text {
    border: 1px solid #f1f1f1;
}