.hotline-fixed-6 {
  background: #E88A25;
  background: -webkit-linear-gradient(left, #E88A25 , #D40000);
  background: -o-linear-gradient(right, #E88A25, #D40000);
  background: -moz-linear-gradient(right, #E88A25, #D40000);
  background: linear-gradient(to right, #E88A25 , #D40000);
  color: #fff;
  border-radius: 70px;
  position: fixed;
  transition:all 0.4s;
  -webkit-transition:all 0.4s;
  z-index:9;
  height: 35px;
  border: 2px solid #fff;
  line-height: 35px;
  background: #E88A25;
  background: -webkit-linear-gradient(left, #E88A25 , #D40000);
  background: -o-linear-gradient(right, #E88A25, #D40000);
  background: -moz-linear-gradient(right, #E88A25, #D40000);
  background: linear-gradient(to right, #E88A25 , #D40000);
}



.hotline-fixed-6-text {
    display: inline-block;
    padding-left: 53px;
    padding-right: 15px;
}


.hotline-fixed-6-icon i {
    font-size: 28px;
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.hotline-fixed-6 a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
 
 .hotline-fixed-6-text-title{
    display:none
 }
 

.mypage-alo-phone {
    visibility: visible;
    background-color: transparent;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 20;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.mypage-alo-ph-circle {
    width: 78px;
    height: 78px;
    top: 15px;
    left: 15px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    opacity: .5;
    background: #f37123;
    border-color: #fff;
    border-width: 3px;
}
 



.mypage-alo-ph-circle-fill {
    width: 40px;
    height: 40px;
    top: 36px;
    left: 35px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #f37123;
    opacity: .75 !important;
}
 
.mypage-alo-ph-img-circle {
    width: 25px;
    height: 25px;
    top: 43px;
    left: 43px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(phone.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-size: 70%;
    background-color: #d71921;
}
 

.call-now{
    position:absolute;
    left: -39px;
    top: -41px;
}

