.fl{float:left} .fr{float:right}
.v-toggle-menu.style1{background:#2b2b2b;padding:5px;position:fixed;right:10px;top:10px;z-index:9;cursor:pointer;}
@media only screen and (min-width:768px){.main-menu.style1 .sub-menu{display:none;}
.main-menu.style1 li:hover .sub-menu{display:block;}
}
@media only screen and (max-width:767px){.main-menu.style1{transition:all 0.5s;-webkit-transition:all 0.5s;left:-80%;top:0;background:#272727;display:block;width:80%;position:fixed;z-index:99;line-height:30px;height:100%;overflow:auto;}
.main-menu.style1.active{left:0;display:block;}
.main-menu.style1 li{display:block!important;float:none!important;padding:5px 15px;border-bottom:1px dotted #5f5f5f;}
.main-menu.style1 .sub-menu li{border-bottom:0;}
.main-menu.style1 .sub-menu{display:none;position:initial!important;overflow:hidden;background:none!important;width:auto!important;}
.main-menu.style1 .menu-arrow{width:0px;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid transparent;border-top:7px solid rgba(255,255,255,0.7);position:absolute;top:20px;right:15px;cursor:pointer;}
.main-menu.style1 .menu-arrow.active{width:0px;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid transparent;border-bottom:7px solid rgba(255,255,255,0.7);position:absolute;top:10px;right:15px;cursor:pointer;}
}
@media only screen and (max-width:991px){#main-menu li{margin:0 5px;}
.v-toggle-menu.style2:before{position:absolute;top:15px;top:calc(50% - 5px);left:10px;content:"";height:1px;width:35px;background:#006bb3;transition:all 0.4s;-webkit-transition:all 0.4s;}
.v-toggle-menu.style2:after{position:absolute;top:25px;top:calc(50% + 5px);left:10px;content:"";height:1px;width:35px;background:#006bb3;transition:all 0.4s;-webkit-transition:all 0.4s;}
.v-toggle-menu.style2.active:before{-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.v-toggle-menu.style2.active:after{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:15px;top:calc(50% - 5px);}
div#main-menu.style2{width:80%;z-index:2!important;background:rgb(255, 255, 255);top:0;left:0;position:fixed;}
div#main-menu.style2{text-align:left;}
div#main-menu li{float:none;display:block;}
div#main-menu li a{display:block;border:0!important;background:none!important;border-bottom:1px dotted #e2e2e2;border-radius:0!important;padding:9px;}
div#main-menu{line-height:25px;}
}
div#toogle-menu{position:absolute;right:0;top:0;width:70px;height:60px;}
.v-full-width{width:100%;}
.v-wrap-full{margin:auto;width:100%;}
.v-full{margin:0 15px;}
.border-box{box-sizing:border-box;}
.v-col-1{width:8.333%;}
.v-col-2{width:16.666%;}
.v-col-3{width:25%;}
.v-col-4{width:33.333%;}
.v-col-5{width:41.666%;}
.v-col-6{width:50%;}
.v-col-7{width:58.333%;}
.v-col-8{width:66.666%;}
.v-col-9{width:75%;}
.v-col-10{width:83.333%;}
.v-col-11{width:91.666%}
.v-col-12{width:100%;}
.v-pr-5{padding-right:5px;}
.v-pr-10{padding-right:10px;}
.v-pr-15{padding-right:15px;}
.v-pr-20{padding-right:20px;}
.v-pr-25{padding-right:25px;}
.v-pr-30{padding-right:30px;}
.v-pr-35{padding-right:35px;}
.v-pr-40{padding-right:40px;}
.v-pl-5{padding-left:5px;}
.v-pl-10{padding-left:10px;}
.v-pl-15{padding-left:15px;}
.v-pl-20{padding-left:20px;}
.v-pl-25{padding-left:25px;}
.v-pl-30{padding-left:30px;}
.v-pl-35{padding-left:35px;}
.v-pl-40{padding-left:40px;}
.v-prl-5{padding-left:5px;padding-right:5px}
.v-prl-10{padding-left:10px;padding-right:10px}
.v-prl-15{padding-left:15px;padding-right:15px}
.v-prl-20{padding-left:20px;padding-right:20px}
.v-prl-25{padding-left:25px;padding-right:25px}
.v-prl-30{padding-left:30px;padding-right:30px}
.v-prl-35{padding-left:35px;padding-right:35px}
.v-prl-40{padding-left:40px;padding-right:40px}
.v-mr-5{margin-right:5px;}
.v-mr-10{margin-right:10px;}
.v-mr-15{margin-right:15px;}
.v-mr-20{margin-right:20px;}
.v-mr-25{margin-right:25px;}
.v-mr-30{margin-right:30px;}
.v-mr-35{margin-right:35px;}
.v-mr-40{margin-right:40px;}
.v-ml-5{margin-left:5px;}
.v-ml-10{margin-left:10px;}
.v-ml-15{margin-left:15px;}
.v-ml-20{margin-left:20px;}
.v-ml-25{margin-left:25px;}
.v-ml-30{margin-left:30px;}
.v-ml-35{margin-left:35px;}
.v-ml-40{margin-left:40px;}
.v-mrl-5{margin-left:5px;margin-right:5px}
.v-mrl-10{margin-left:10px;margin-right:10px}
.v-mrl-15{margin-left:15px;margin-right:15px}
.v-mrl-20{margin-left:20px;margin-right:20px}
.v-mrl-25{margin-left:25px;margin-right:25px}
.v-mrl-30{margin-left:30px;margin-right:30px}
.v-mrl-35{margin-left:35px;margin-right:35px}
.v-mrl-40{margin-left:40px;margin-right:40px}
.v-none{display:none;}
.v-text-align-center{text-align:center}
.v-text-align-left{text-align:left}
.v-text-align-right{text-align:right}
.v-text-align-justify{text-align:justify}
.v-float-left{float:left}
.v-float-right{float:right}
.v-float-none{float:none}
@media only screen and (min-width:1200px){.v-wrap-full{width:1100px;}
.v-col-lg-0{display:none;width:0 }
.v-col-lg-1{width:8.333%; }
.v-col-lg-2{width:16.666%; }
.v-col-lg-3{width:25%; }
.v-col-lg-4{width:33.333%; }
.v-col-lg-5{width:41.666%; }
.v-col-lg-6{width:50%; }
.v-col-lg-7{width:58.333%; }
.v-col-lg-8{width:66.666%; }
.v-col-lg-9{width:75%; }
.v-col-lg-10{width:83.333%; }
.v-col-lg-11{width:91.666%; }
.v-col-lg-12{width:100%;}
.v-lg-pr-5{padding-right:5px;}
.v-lg-pr-10{padding-right:10px;}
.v-lg-pr-15{padding-right:15px;}
.v-lg-pr-20{padding-right:20px;}
.v-lg-pr-25{padding-right:25px;}
.v-lg-pr-30{padding-right:30px;}
.v-lg-pr-35{padding-right:35px;}
.v-lg-pr-40{padding-right:40px;}
.v-lg-pl-5{padding-left:5px;}
.v-lg-pl-10{padding-left:10px;}
.v-lg-pl-15{padding-left:15px;}
.v-lg-pl-20{padding-left:20px;}
.v-lg-pl-25{padding-left:25px;}
.v-lg-pl-30{padding-left:30px;}
.v-lg-pl-35{padding-left:35px;}
.v-lg-pl-40{padding-left:40px;}
.v-lg-prl-5{padding-left:5px;padding-right:5px}
.v-lg-prl-10{padding-left:10px;padding-right:10px}
.v-lg-prl-15{padding-left:15px;padding-right:15px}
.v-lg-prl-20{padding-left:20px;padding-right:20px}
.v-lg-prl-25{padding-left:25px;padding-right:25px}
.v-lg-prl-30{padding-left:30px;padding-right:30px}
.v-lg-prl-35{padding-left:35px;padding-right:35px}
.v-lg-prl-40{padding-left:40px;padding-right:40px}
.v-lg-mr-5{margin-right:5px;}
.v-lg-mr-10{margin-right:10px;}
.v-lg-mr-15{margin-right:15px;}
.v-lg-mr-20{margin-right:20px;}
.v-lg-mr-25{margin-right:25px;}
.v-lg-mr-30{margin-right:30px;}
.v-lg-mr-35{margin-right:35px;}
.v-lg-mr-40{margin-right:40px;}
.v-lg-ml-5{margin-left:5px;}
.v-lg-ml-10{margin-left:10px;}
.v-lg-ml-15{margin-left:15px;}
.v-lg-ml-20{margin-left:20px;}
.v-lg-ml-25{margin-left:25px;}
.v-lg-ml-30{margin-left:30px;}
.v-lg-ml-35{margin-left:35px;}
.v-lg-ml-40{margin-left:40px;}
.v-lg-mrl-5{margin-left:5px;margin-right:5px}
.v-lg-mrl-10{margin-left:10px;margin-right:10px}
.v-lg-mrl-15{margin-left:15px;margin-right:15px}
.v-lg-mrl-20{margin-left:20px;margin-right:20px}
.v-lg-mrl-25{margin-left:25px;margin-right:25px}
.v-lg-mrl-30{margin-left:30px;margin-right:30px}
.v-lg-mrl-35{margin-left:35px;margin-right:35px}
.v-lg-mrl-40{margin-left:40px;margin-right:40px}
.v-lg-none{display:none;}
.v-lg-text-align-center{text-align:center}
.v-lg-text-align-left{text-align:left}
.v-lg-text-align-right{text-align:right}
.v-lg-text-align-justify{text-align:justify}
.v-lg-float-left{float:left}
.v-lg-float-right{float:right}
.v-lg-float-none{float:none}
}
@media only screen and (min-width:992px) and (max-width:1199px){.v-wrap-full{width:970px;}
.v-col-md-0{display:none;width:0 }
.v-col-md-1{width:8.333%; }
.v-col-md-2{width:16.666%; }
.v-col-md-3{width:25%; }
.v-col-md-4{width:33.333%; }
.v-col-md-5{width:41.666%; }
.v-col-md-6{width:50%; }
.v-col-md-7{width:58.333%; }
.v-col-md-8{width:66.666%; }
.v-col-md-9{width:75%; }
.v-col-md-10{width:83.333%; }
.v-col-md-11{width:91.666%; }
.v-col-md-12{width:100%;}
.v-md-pr-5{padding-right:5px;}
.v-md-pr-10{padding-right:10px;}
.v-md-pr-15{padding-right:15px;}
.v-md-pr-20{padding-right:20px;}
.v-md-pr-25{padding-right:25px;}
.v-md-pr-30{padding-right:30px;}
.v-md-pr-35{padding-right:35px;}
.v-md-pr-40{padding-right:40px;}
.v-md-pl-5{padding-left:5px;}
.v-md-pl-10{padding-left:10px;}
.v-md-pl-15{padding-left:15px;}
.v-md-pl-20{padding-left:20px;}
.v-md-pl-25{padding-left:25px;}
.v-md-pl-30{padding-left:30px;}
.v-md-pl-35{padding-left:35px;}
.v-md-pl-40{padding-left:40px;}
.v-md-prl-5{padding-left:5px;padding-right:5px}
.v-md-prl-10{padding-left:10px;padding-right:10px}
.v-md-prl-15{padding-left:15px;padding-right:15px}
.v-md-prl-20{padding-left:20px;padding-right:20px}
.v-md-prl-25{padding-left:25px;padding-right:25px}
.v-md-prl-30{padding-left:30px;padding-right:30px}
.v-md-prl-35{padding-left:35px;padding-right:35px}
.v-md-prl-40{padding-left:40px;padding-right:40px}
.v-md-mr-5{margin-right:5px;}
.v-md-mr-10{margin-right:10px;}
.v-md-mr-15{margin-right:15px;}
.v-md-mr-20{margin-right:20px;}
.v-md-mr-25{margin-right:25px;}
.v-md-mr-30{margin-right:30px;}
.v-md-mr-35{margin-right:35px;}
.v-md-mr-40{margin-right:40px;}
.v-md-ml-5{margin-left:5px;}
.v-md-ml-10{margin-left:10px;}
.v-md-ml-15{margin-left:15px;}
.v-md-ml-20{margin-left:20px;}
.v-md-ml-25{margin-left:25px;}
.v-md-ml-30{margin-left:30px;}
.v-md-ml-35{margin-left:35px;}
.v-md-ml-40{margin-left:40px;}
.v-md-mrl-5{margin-left:5px;margin-right:5px}
.v-md-mrl-10{margin-left:10px;margin-right:10px}
.v-md-mrl-15{margin-left:15px;margin-right:15px}
.v-md-mrl-20{margin-left:20px;margin-right:20px}
.v-md-mrl-25{margin-left:25px;margin-right:25px}
.v-md-mrl-30{margin-left:30px;margin-right:30px}
.v-md-mrl-35{margin-left:35px;margin-right:35px}
.v-md-mrl-40{margin-left:40px;margin-right:40px}
.v-md-none{display:none;}
.v-md-text-align-center{text-align:center}
.v-md-text-align-left{text-align:left}
.v-md-text-align-right{text-align:right}
.v-md-text-align-justify{text-align:justify}
.v-md-float-left{float:left}
.v-md-float-right{float:right}
.v-md-float-none{float:none}
}
@media only screen and (min-width:768px) and (max-width:991px){.v-wrap-full{width:750px;}
.v-col-sm-0{display:none;width:0 }
.v-col-sm-1{width:8.333%; }
.v-col-sm-2{width:16.666%; }
.v-col-sm-3{width:25%; }
.v-col-sm-4{width:33.333%; }
.v-col-sm-5{width:41.666%; }
.v-col-sm-6{width:50%; }
.v-col-sm-7{width:58.333%; }
.v-col-sm-8{width:66.666%; }
.v-col-sm-9{width:75%; }
.v-col-sm-10{width:83.333%; }
.v-col-sm-11{width:91.666%; }
.v-col-sm-12{width:100%;}
.v-sm-pr-5{padding-right:5px;}
.v-sm-pr-10{padding-right:10px;}
.v-sm-pr-15{padding-right:15px;}
.v-sm-pr-20{padding-right:20px;}
.v-sm-pr-25{padding-right:25px;}
.v-sm-pr-30{padding-right:30px;}
.v-sm-pr-35{padding-right:35px;}
.v-sm-pr-40{padding-right:40px;}
.v-sm-pl-5{padding-left:5px;}
.v-sm-pl-10{padding-left:10px;}
.v-sm-pl-15{padding-left:15px;}
.v-sm-pl-20{padding-left:20px;}
.v-sm-pl-25{padding-left:25px;}
.v-sm-pl-30{padding-left:30px;}
.v-sm-pl-35{padding-left:35px;}
.v-sm-pl-40{padding-left:40px;}
.v-sm-prl-5{padding-left:5px;padding-right:5px}
.v-sm-prl-10{padding-left:10px;padding-right:10px}
.v-sm-prl-15{padding-left:15px;padding-right:15px}
.v-sm-prl-20{padding-left:20px;padding-right:20px}
.v-sm-prl-25{padding-left:25px;padding-right:25px}
.v-sm-prl-30{padding-left:30px;padding-right:30px}
.v-sm-prl-35{padding-left:35px;padding-right:35px}
.v-sm-prl-40{padding-left:40px;padding-right:40px}
.v-sm-mr-5{margin-right:5px;}
.v-sm-mr-10{margin-right:10px;}
.v-sm-mr-15{margin-right:15px;}
.v-sm-mr-20{margin-right:20px;}
.v-sm-mr-25{margin-right:25px;}
.v-sm-mr-30{margin-right:30px;}
.v-sm-mr-35{margin-right:35px;}
.v-sm-mr-40{margin-right:40px;}
.v-sm-ml-5{margin-left:5px;}
.v-sm-ml-10{margin-left:10px;}
.v-sm-ml-15{margin-left:15px;}
.v-sm-ml-20{margin-left:20px;}
.v-sm-ml-25{margin-left:25px;}
.v-sm-ml-30{margin-left:30px;}
.v-sm-ml-35{margin-left:35px;}
.v-sm-ml-40{margin-left:40px;}
.v-sm-mrl-5{margin-left:5px;margin-right:5px}
.v-sm-mrl-10{margin-left:10px;margin-right:10px}
.v-sm-mrl-15{margin-left:15px;margin-right:15px}
.v-sm-mrl-20{margin-left:20px;margin-right:20px}
.v-sm-mrl-25{margin-left:25px;margin-right:25px}
.v-sm-mrl-30{margin-left:30px;margin-right:30px}
.v-sm-mrl-35{margin-left:35px;margin-right:35px}
.v-sm-mrl-40{margin-left:40px;margin-right:40px}
.v-sm-none{display:none;}
.v-sm-text-align-center{text-align:center}
.v-sm-text-align-left{text-align:left}
.v-sm-text-align-right{text-align:right}
.v-sm-text-align-justify{text-align:justify}
.v-sm-float-left{float:left}
.v-sm-float-right{float:right}
.v-sm-float-none{float:none}
}
@media only screen and (min-width:414px) and (max-width:767px){.v-wrap-full{width:100%;}
.v-col-xs-0{display:none;width:0 }
.v-col-xs-1{width:8.333%; }
.v-col-xs-2{width:16.666%; }
.v-col-xs-3{width:25%; }
.v-col-xs-4{width:33.333%; }
.v-col-xs-5{width:41.666%; }
.v-col-xs-6{width:50%; }
.v-col-xs-7{width:58.333%; }
.v-col-xs-8{width:66.666%; }
.v-col-xs-9{width:75%; }
.v-col-xs-10{width:83.333%;}
.v-col-xs-11{width:91.666%; }
.v-col-xs-12{width:100%;}
.v-xs-pr-5{padding-right:5px;}
.v-xs-pr-10{padding-right:10px;}
.v-xs-pr-15{padding-right:15px;}
.v-xs-pr-20{padding-right:20px;}
.v-xs-pr-25{padding-right:25px;}
.v-xs-pr-30{padding-right:30px;}
.v-xs-pr-35{padding-right:35px;}
.v-xs-pr-40{padding-right:40px;}
.v-xs-pl-5{padding-left:5px;}
.v-xs-pl-10{padding-left:10px;}
.v-xs-pl-15{padding-left:15px;}
.v-xs-pl-20{padding-left:20px;}
.v-xs-pl-25{padding-left:25px;}
.v-xs-pl-30{padding-left:30px;}
.v-xs-pl-35{padding-left:35px;}
.v-xs-pl-40{padding-left:40px;}
.v-xs-prl-5{padding-left:5px;padding-right:5px}
.v-xs-prl-10{padding-left:10px;padding-right:10px}
.v-xs-prl-15{padding-left:15px;padding-right:15px}
.v-xs-prl-20{padding-left:20px;padding-right:20px}
.v-xs-prl-25{padding-left:25px;padding-right:25px}
.v-xs-prl-30{padding-left:30px;padding-right:30px}
.v-xs-prl-35{padding-left:35px;padding-right:35px}
.v-xs-prl-40{padding-left:40px;padding-right:40px}
.v-xs-mr-5{margin-right:5px;}
.v-xs-mr-10{margin-right:10px;}
.v-xs-mr-15{margin-right:15px;}
.v-xs-mr-20{margin-right:20px;}
.v-xs-mr-25{margin-right:25px;}
.v-xs-mr-30{margin-right:30px;}
.v-xs-mr-35{margin-right:35px;}
.v-xs-mr-40{margin-right:40px;}
.v-xs-ml-5{margin-left:5px;}
.v-xs-ml-10{margin-left:10px;}
.v-xs-ml-15{margin-left:15px;}
.v-xs-ml-20{margin-left:20px;}
.v-xs-ml-25{margin-left:25px;}
.v-xs-ml-30{margin-left:30px;}
.v-xs-ml-35{margin-left:35px;}
.v-xs-ml-40{margin-left:40px;}
.v-xs-mrl-5{margin-left:5px;margin-right:5px}
.v-xs-mrl-10{margin-left:10px;margin-right:10px}
.v-xs-mrl-15{margin-left:15px;margin-right:15px}
.v-xs-mrl-20{margin-left:20px;margin-right:20px}
.v-xs-mrl-25{margin-left:25px;margin-right:25px}
.v-xs-mrl-30{margin-left:30px;margin-right:30px}
.v-xs-mrl-35{margin-left:35px;margin-right:35px}
.v-xs-mrl-40{margin-left:40px;margin-right:40px}
.v-xs-none{display:none;}
.v-xs-text-align-center{text-align:center}
.v-xs-text-align-left{text-align:left}
.v-xs-text-align-right{text-align:right}
.v-xs-text-align-justify{text-align:justify}
.res-menu-button{display:block;}
.res-menu-content{display:none;}
.res-menu-content li{float:none!important;}
.v-xs-float-left{float:left}
.v-xs-float-right{float:right}
.v-xs-float-none{float:none}
}
@media only screen and (max-width:413px){.v-wrap-full{width:100%;}
.v-col-tx-0{display:none;width:0 }
.v-col-tx-1{width:8.333%; }
.v-col-tx-2{width:16.666%; }
.v-col-tx-3{width:25%; }
.v-col-tx-4{width:33.333%; }
.v-col-tx-5{width:41.666%; }
.v-col-tx-6{width:50%; }
.v-col-tx-7{width:58.333%; }
.v-col-tx-8{width:66.666%; }
.v-col-tx-9{width:75%; }
.v-col-tx-10{width:83.333%; }
.v-col-tx-11{width:91.666%; }
.v-col-tx-12{width:100%;}
.v-tx-pr-5{padding-right:5px;}
.v-tx-pr-10{padding-right:10px;}
.v-tx-pr-15{padding-right:15px;}
.v-tx-pr-20{padding-right:20px;}
.v-tx-pr-25{padding-right:25px;}
.v-tx-pr-30{padding-right:30px;}
.v-tx-pr-35{padding-right:35px;}
.v-tx-pr-40{padding-right:40px;}
.v-tx-pl-5{padding-left:5px;}
.v-tx-pl-10{padding-left:10px;}
.v-tx-pl-15{padding-left:15px;}
.v-tx-pl-20{padding-left:20px;}
.v-tx-pl-25{padding-left:25px;}
.v-tx-pl-30{padding-left:30px;}
.v-tx-pl-35{padding-left:35px;}
.v-tx-pl-40{padding-left:40px;}
.v-tx-prl-5{padding-left:5px;padding-right:5px}
.v-tx-prl-10{padding-left:10px;padding-right:10px}
.v-tx-prl-15{padding-left:15px;padding-right:15px}
.v-tx-prl-20{padding-left:20px;padding-right:20px}
.v-tx-prl-25{padding-left:25px;padding-right:25px}
.v-tx-prl-30{padding-left:30px;padding-right:30px}
.v-tx-prl-35{padding-left:35px;padding-right:35px}
.v-tx-prl-40{padding-left:40px;padding-right:40px}
.v-tx-mr-5{margin-right:5px;}
.v-tx-mr-10{margin-right:10px;}
.v-tx-mr-15{margin-right:15px;}
.v-tx-mr-20{margin-right:20px;}
.v-tx-mr-25{margin-right:25px;}
.v-tx-mr-30{margin-right:30px;}
.v-tx-mr-35{margin-right:35px;}
.v-tx-mr-40{margin-right:40px;}
.v-tx-ml-5{margin-left:5px;}
.v-tx-ml-10{margin-left:10px;}
.v-tx-ml-15{margin-left:15px;}
.v-tx-ml-20{margin-left:20px;}
.v-tx-ml-25{margin-left:25px;}
.v-tx-ml-30{margin-left:30px;}
.v-tx-ml-35{margin-left:35px;}
.v-tx-ml-40{margin-left:40px;}
.v-tx-mrl-5{margin-left:5px;margin-right:5px}
.v-tx-mrl-10{margin-left:10px;margin-right:10px}
.v-tx-mrl-15{margin-left:15px;margin-right:15px}
.v-tx-mrl-20{margin-left:20px;margin-right:20px}
.v-tx-mrl-25{margin-left:25px;margin-right:25px}
.v-tx-mrl-30{margin-left:30px;margin-right:30px}
.v-tx-mrl-35{margin-left:35px;margin-right:35px}
.v-tx-mrl-40{margin-left:40px;margin-right:40px}
.v-tx-none{display:none;}
.v-tx-text-align-center{text-align:center}
.v-tx-text-align-left{text-align:left}
.v-tx-text-align-right{text-align:right}
.v-tx-text-align-justify{text-align:justify}
.res-menu-button{display:block;}
.res-menu-content{display:none;}
.res-menu-content li{float:none!important;}
.v-tx-float-left{float:left}
.v-tx-float-right{float:right}
.v-tx-float-none{float:none}
}